# data processing
# celery 5.0.5 has an incompatability with ... pip-tools.
# celery==5.1.2

# This is sort-of-temporary, forest is open-source but not a pip-installable package right now.
# Note that this file is read programmatically in update_forest_version
# TODO: we now have two locations declaing we need to remove one
git+https://git@github.com/onnela-lab/forest@1c0e7bcc9bed574b0392db7004921c51a440b4e0


# it is possible you will need to imstall the following system dependencies on ubuntu:
# sudo apt-get install libopenblas-base libatlas3-base gcc gfortran python3-dev libopenblas-dev liblapack-dev
