# core libraries
Django==4.2.11
firebase-admin==5.4.0
Jinja2 # used to require pinning, I guess review if there is a major version bump.
zstd>=1.5.5.1 # can be stuck on older versions sometimes
orjson==3.9.15

# django-extensions for some really nice management commands and terminal helpers.
django-extensions==3.2.3

python-dateutil==2.8.2  # this is currently locked due to our old celery requirement.

# testing libraries
# mock
# coverage
# tblib
# redgreenunittest
# time-machine

pyqrcode
pypng
pyotp

# This version of pycryptodome results in "from Cryptodome import ..." imports.
pycryptodomex==3.20.0  # locked version, only update this manuallly, has had breaking changes in the past

# error reporting
cronutils==0.4.2

# data sanitization
bleach>=4.1.0

# server requirement
psycopg>=3.1.18

# ipython can exhibit weird issues that make it look like the codebase is broken.  Most issues
# are resolved by forcing this relatively new version of ipython.
ipython>=8.12.2
uwsgi>=2.0.24

# Keep these dependencies up to date
boto3

# Ug due to pytz.timezone("America/New_York") being off by 4 minutes (aka ... wrong) we had to abandon
# this library. but we can't remove it because it is used in migrations. That was probably an old pytz bug.
django-timezone-field==4.1.1

# we actually had a requirements conflict _involving pip-tools_ so we are removing it from the requirements...
# pip-tools>=7.3.0

# this target points at what is currently the "beiwe-taskrunner" branch of the forest repo.
git+https://git@github.com/onnela-lab/forest@592e303c85be6b38bd3512b6c90bcfba36e210f4

celery==5.4.0
