# data processing
celery==4.4.7

# This is sort-of-temporary, forest is open-source but not a pip-installable package right now.
# Note that this file is read programmatically in update_forest_version
# TODO: we now have two locations declaing we need to remove one
git+https://git@github.com/onnela-lab/forest@ccf30f70b170f9fb59dcc2fb9e83a90471da84ae


# it is possible you will need to imstall the following system dependencies on ubuntu:
# sudo apt-get install libopenblas-base libatlas3-base gcc gfortran python3-dev libopenblas-dev liblapack-dev
