<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" />
    {# Javascript #}
    <script src="{{ ASSETS.JQUERY }}" integrity="{{ ASSETS.JQUERY_INTEGRITY }}" crossorigin="anonymous"></script>
    <script src="{{ ASSETS.ANGULARJS }}" type="text/javascript"></script>
    <script src="{{ ASSETS.BOOTSTRAP }}" integrity="{{ ASSETS.BOOTSTRAP_INTEGRITY }}" crossorigin="anonymous"></script>
    <script src="{{ ASSETS.BOOTSTRAP_TIMEPICKER }}" type="text/javascript"></script>
    <script src="{{ ASSETS.HANDLEBARS }}" type="text/javascript"></script>    
    <script src="{{ ASSETS.LODASH }}" type="text/javascript"></script>
    <script src="{{ ASSETS.MOMENTJS }}" type="text/javascript"></script>

    {# Global CSS #}
    <link rel="stylesheet" href="{{ ASSETS.BOOTSTRAP_CSS }}" media="all" type="text/css" integrity="{{ ASSETS.BOOTSTRAP_CSS_INTEGRITY }}" crossorigin="anonymous">
    <link rel="stylesheet" src="{{ ASSETS.BOOTSTRAP_TIMEPICKER_CSS }}" type="text/css">
    <link rel="stylesheet" href="/static/css/admin.css" type="text/css"/>

    <!-- Sentry Configuration -->
    <script src="https://cdn.ravenjs.com/3.25.2/angular/raven.min.js" crossorigin="anonymous"></script>
    {% if SENTRY_JAVASCRIPT_DSN and SENTRY_JAVASCRIPT_DSN != 'USE_EMAIL_FALLBACK' %}
      <script>
      Raven.config('{{ SENTRY_JAVASCRIPT_DSN }}', {
        debug:true
      }).install();
      </script>
    {% endif %}

    <!-- Load Angular -->
    <script src="/static/javascript/app/app.module.js"></script>

    <link rel="icon" href="/static/images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" href="/static/images/favicon-192x192.png" sizes="192x192">
    <title>Beiwe | {% block title %}{% endblock %}</title>
  {% endblock %}
</head>

<body ng-app="surveyBuilder" {% block body_attributes %}{% endblock %}>
  <div class="row">
    {% block navbar %}
      {% include 'navbar.html' %}
    {% endblock %}
  </div>

  <div class="container">
    <div class="row">
      {% block notifications %}
        {% include 'notifications.html' %}
      {% endblock %}
    </div>

    <div id="content" class="row">
      {% block content %}
      {% endblock %}
    </div>

    <div id="footer" class="row">
      {% block footer %}
        {% include 'footer.html' %}
      {% endblock %}
    </div>
  </div>

  {% block javascript %}
  {% endblock %}
</body>

</html>
