{% extends "base.html" %}
{% block title %}Notification History{% endblock %}

{%  block content %}
  <div class="title row">
    <h1>Notification history for <a href="/view_study/{{ study.id }}/participant/{{ participant.patient_id }}">{{ participant.patient_id }}</a></h1>

    {# add a url to load the page without the message notifications #}
    {% if include_keepalive %}
      {# INCLUDE the keepalive parameter on the page links #}
      {% set keepalive_param = "include_keepalive=true&" %}
      Seeing too many keepalive notifications?
      {# DON'T include the parameter to tho swap mode link #}
      <a href="/view_study/{{ study.id }}/participant/{{ participant.patient_id }}/notification_history?page={{page.number}}">Hide Keepalive Notifications</a>
    {% else %}
      {# DON'T include the keepalive parameter on the page links #}
      {% set keepalive_param = "" %}
      Want to include all keepalive notifications?
      {# INCLUDE the parameter to tho swap mode link #}
      <a href="/view_study/{{ study.id }}/participant/{{ participant.patient_id }}/notification_history?include_keepalive=true&page={{page.number}}">Show keepalive notifications</a>
    {% endif %}

    <p><b>Page of results:</b></p>
    <ul class="pagination" style="margin-top:0px;">
      {% set urlbase = "/view_study/" + study.id|string + "/participant/" + participant.patient_id + "/notification_history?" + keepalive_param + "page=" %}
      {# just create a button for every page it's fine #}
      {% for page_number in range(last_page_number) %}
        <li class={% if (page_number +1) == page.number %}"disabled"{% else %}"active"{% endif %}><a href="{{ urlbase }}{{ page_number + 1 }}">{{ page_number + 1 }}</a></li>
      {% endfor %}
    </ul>
    
    <table class="table table-bordered">
      <tr>
        <th>Scheduled time</th>
        <th>Sent or attempted on</th>
        <th>Survey</th>
        <th>Survey version</th>
        <th>Schedule type</th>
        <th>Status</th>
        <th></th>
      </tr>
      {% for attempt in notification_attempts %}
        <tr {% if attempt.status == 'success' %} class="tableRowSuccess" {% else %} class="tableRowError" {% endif %}>
          <td>{{ attempt.scheduled_time }}</td>
          <td>{{ attempt.attempted_time }}</td>
          <td>{{ attempt.survey_name }}</td>
          <td>{{ attempt.survey_version }}</td>
          <td>{{ attempt.schedule_type }}</td>
          {% if  attempt.status == "success" %}
            <td> Sent </td>
          {% else %}
            <td> Failed </td>
          {% endif %}
          <td>
          {# we need to only show this button for real push notifications, which we will detect #}
          {# by checking if the scheduled_time field is a dash #}
          {% if attempt.scheduled_time != "-" %}
            {% if attempt.survey_deleted %}
              (Survey Deleted)
            {% else %}
              <form action="{{ easy_url("participant_endpoints.resend_push_notification", study_id=study.id, patient_id=participant.patient_id) }}" method="post">
                <input type="hidden" name="survey_id" value="{{ attempt.survey_id }}">
                <button class="btn btn-sm btn-group btn-warning" type="submit" {% if locked %} disabled {% endif %}>
                  Resend Push Notification
                </button>
              </form>
            {% endif %}
          {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}