{% extends "base.html" %}
{% block title %} Participant Page {% endblock %}

{%  block content %}
<div class="container well">
  <div class="title col-md-8" col-xs-12>
    <h1> Participant <b>{{ participant.patient_id }} </b></h1>
  </div>
  {# Go to Dashboard button  #}
  <div class="title col-md-4 col-xs-12">
    <a class="btn btn-info h2-margins-vertical"
      href={{ easy_url('dashboard_api.dashboard_participant_page', study_id=study.id, patient_id=participant.patient_id) }}>
      View <b>{{ participant.patient_id }}</b>'s Collected Data Dashboard
    </a>
  </div>
</div>

<ol class="breadcrumb">
  <li>
    <a href="/view_study/{{ study.id }}">{{ study.name }}</a>
  </li>
  <li class="active">
    Edit and View Attributes of Participant <b>{{ participant.patient_id }}</b>
  </li>
</ol>

<div class="container">

  <div class="col-md-6 col-sm-12 well">
    <h3 class="text-center"> <b>Activity Information </b></h3>
    <table class="table table-hover">

      <!-- Phone OS info -->
      <tr>
        <td><b>Phone operating system:</b></td>
        <td>
          {% if participant.os_type == "IOS" %} iOS {% elif participant.os_type == "ANDROID" %} Android {% else %} <i>Unknown?</i> {% endif %}
          {% if participant.last_os_version %}
            {{ participant.last_os_version }}
          {% endif %}
        </td>
      </tr>
      <tr>
        <td><b>Beiwe App Version:</b></td>
        <td>
          {% if participant.os_type == "IOS" %}
            {% if participant.last_version_code %}
              {{ participant.last_version_code }}
            {% endif %}
          {% elif participant.os_type == "ANDROID" %}
            {% if participant.last_version_name %}
              {{ participant.last_version_name }}
            {% endif %}
          {% endif %}
        </td>
      </tr>
      <tr>
        <td><b>Time of Registration</b></td>
        <td>{{ really_nice_time_format_with_tz(participant.last_register_user, participant.study.timezone) }}</td>
      </tr>
      <tr>
        <td><b>Time of last check-in for updated survey content</b></td>
        <td>{{ really_nice_time_format_with_tz(participant.last_get_latest_surveys, participant.study.timezone) }}</td>
      </tr>
      <tr>
        <td><b>Time of last file upload event</b></td>
        <td>{{ really_nice_time_format_with_tz(participant.last_upload, participant.study.timezone) }}</td>
      </tr>
  {% comment %}
  {# This is just going to confuse people until we change the way passwords work. #}
      <tr>
        <td><b>Time of last participant password reset</b></td>
        <td>{{ really_nice_time_format_with_tz(participant.last_set_password, participant.study.timezone) }}</td>
      </tr>
  {% endcomment %}
      <tr>
        <td><b>Time of last notifcation credential update</b></td>
        <td>{{ really_nice_time_format_with_tz(participant.last_set_fcm_token, participant.study.timezone) }}</td>
      </tr>
      <tr>
        <td><b>Time of last device settings update</b></td>
        <td>{{ really_nice_time_format_with_tz(participant.last_get_latest_device_settings, participant.study.timezone) }}</td>
      </tr>
    </table>
  </div>

  <div class="col-md-6 col-sm-12 well">
    <h3 class="text-center"> <b>Survey Notifications </b></h3>
    <p class="text-center">
      Total notifications or attempts: <b>{{ notification_attempts_count }}</b>
      &nbsp;&nbsp;
      <a href="/view_study/{{ study.id }}/participant/{{ participant.patient_id }}/notification_history">Notification History</a>
    </p>
    {% if latest_notification_attempt %}
      <p>Most recent survey notification:</p>
      <table class="table table-hover" >
        <tr>
          <td>Scheduled for:</td>
          <td>{{ latest_notification_attempt.scheduled_time }}</td>
        </tr>
        <tr>
          <td>Sent or attempted on:</td>
          <td>{{ latest_notification_attempt.attempted_time }}</td>
        </tr>
        <tr>
          <td>Survey:</td>
          <td>
            <a href="{{ easy_url("survey_designer.render_edit_survey", study.id, latest_notification_attempt.survey_id) }}" target="_blank">
              {{ latest_notification_attempt.survey_name }}
            </a>
          </td>
        </tr>
        <tr>
          <td>Survey version:</td>
          <td>{{ latest_notification_attempt.survey_version }}</td>
        </tr>
        <tr>
          <td>Schedule type:</td>
          <td>{{ latest_notification_attempt.schedule_type }}</td>
        </tr>
        <tr {% if latest_notification_attempt.status == 'success' %} class="tableRowSuccess" {% else %} class="tableRowError" {% endif %}>
          <td>Status:</td>
          <td>{{ latest_notification_attempt.status }}</td>
        </tr>
      </table>

      <form action="{{ easy_url("push_notifications_api.resend_push_notification", study_id=study.id, patient_id=participant.patient_id) }}" method="post">
      {% if participant.participant_push_enabled %} 
        <input type="hidden" name="survey_id" value="{{ latest_notification_attempt.survey_id }}">
        <button class="btn btn-danger center-block" type="submit">
          Resend Push Notification
        </button>
        {% endif %}
      </form>
    {% endif %}
  </div>

  {# easy enrollment #}
  <div class="col-md-12 well">
    <div class="col-md-5">
      <div class="h2-middle-margins-vertical text-center row">
        <form action="/toggle_easy_enrollment" method="post">
          <input type="hidden" name="patient_id" value="{{ participant.patient_id }}">
          <input type="hidden" name="study_id" value="{{ study.id }}">
          <button type="submit"
          {% if participant.easy_enrollment %}
            class="btn btn-warning large-font-size"
          {% else %}
            class="btn btn-success large-font-size"
          {% endif %}
          >
          {% if participant.easy_enrollment %}
            Disable Easy Enrollment
          {% else %}
            Enable Easy Enrollment
          {% endif %}
          </button>
        </form>
      </div>
    </div>
    <div class="col-md-7 h3-margins-vertical">
      Easy enrollment may enabled on a per-participant basis.
      <p>
      When easy enrollment is enabled for a study or a participant the Temporary Password that is otherwised required at registration is ignored.  Any value that passes any validation performed by the app is allowed.
    </div>
  </div>

  {# Reset Passwordd #}
  <div class="col-md-12 well">
    <div class="col-md-5">
      <div class="h2-middle-margins-vertical text-center row">
        <form action="/reset_participant_password" method="post">
          <input type="hidden" name="patient_id" value="{{ participant.patient_id }}">
          <input type="hidden" name="study_id" value="{{ study.id }}">
          <button type="submit" class="btn btn-warning large-font-size"
            {% if participant.device_id %} disabled {% endif %}>
            Generate a new password for this participant:
          </button>
        </form>
        {% if participant.device_id %}
          You may not reset participant passwords on registered devices.
        {% endif %}
      </div>
    </div>
    <div class="col-md-7 h3-margins-vertical">
      At registration the participant enters their current password into the temporary password field,
      and then sets a new password that is used to unlock the app and access new surveys, etc.  The
      participant may change this password from their device at any time.  You cannot view the 
      participant's current password.
    </div>
  </div>

  {# Unregister Device #}
  <div class="col-md-12 well">
    <div class="col-md-5">
      <div class="h2-middle-margins-vertical text-center row">
        <form action="/reset_device" method="post">
          <input type="hidden" name="patient_id" value="{{ participant.patient_id }}">
          <input type="hidden" name="study_id" value="{{ study.id }}">
          <button type="submit" class="btn btn-warning large-font-size"
            {% if not participant.device_id %} disabled {% endif %}>
            Un-Register Device
          </button>
        </form>
        {% if not participant.device_id %}
          There is no device registered for this participant
        {% endif %}
      </div>
    </div>
    <div class="col-md-7 h3-margins-vertical">
      Resetting a participant's registration password is a two-step process. You should only reset a
      participant password if you know there is no device registered and uploading data. Click this
      button if you need to register a new participant or reregister an old participant who has
      forgotten their password.
    </div>
  </div>

  {# End Data Collection #}
  <div class="col-md-12 well">
    <div class="col-md-5">
      <div class="h2-middle-margins-vertical text-center row">
        <form action="/unregister_participant" method="post">
          <input type="hidden" name="patient_id" value="{{ participant.patient_id }}">
          <input type="hidden" name="study_id" value="{{ study.id }}">
          <button type="submit" class="btn btn-danger large-font-size"
          onclick="return confirm('Are you sure you want to permanently end data collection from {{ participant.patient_id }}?')" 
            {% if participant.unregistered %} disabled {% endif %}>
            Permenantly Retire Participant
          </button>
        </form>
        {% if participant.unregistered %}
          This participant is already retired.
        {% endif %}
      </div>
    </div>
    <div class="col-md-7 h3-margins-vertical">
      This action retires this participant entirely, blocking any further data from being uploaded,
      regardless of the source device.  This does not affect data already uploaded.  Attempts to
      register a new device with this particpant will fail.  If data is uploaded for this participant
      the device will be told to delete that data.
      <br> <b>This operation is final and cannot be undone.</b>
    </div>
  </div>


  {% if study.interventions.exists() %}
    <div class="col-md-6 col-sm-12 well">
      <form action="/view_study/{{ study.id }}/participant/{{ participant.patient_id }}" class="form-horizontal" method="POST">
      {% if push_notifications_enabled_for_ios or push_notifications_enabled_for_android %}
        <h3>Interventions</h3>
        {% for intervention_id, intervention_name, intervention_date in intervention_data %}
          <div class="form-group">
            <label class="control-label col-sm-2" for="intervention{{ intervention_id }}" > {{ intervention_name }}</label>
              <div class="col-sm-3">
              {% if intervention_date %}
                <input id="intervention{{ intervention_id }}" name="intervention{{ intervention_id }}" class="form-control" type="date"
                      value="{{ intervention_date }}">
              {% else %}
                <input id="intervention{{ intervention_id }}" name="intervention{{ intervention_id }}" class="form-control" type="date">
              {% endif %}
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  {% endif %}
    
  {% if study.fields.exists() %}
    <div class="col-md-6 col-sm-12 well">
      <h3>Custom Fields</h3>
    
      {% for field_id, field_name, value in field_values %}
        <div class="form-group">
          <label class="col-sm-2 control-label" for="field{{ field_id }}">{{ field_name }}</label>
          <div class="col-sm-4">
            <input id="field{{ field_id }}" name="field{{ field_id }}" class="form-control" type="text"
                   value="{{ value }}">
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

    {% if not readonly %}
      {% if study.interventions.exists() or study.fields.exists() %}
        <button class="btn btn-primary btn-block" type="submit">Save Changes</button>
      {% endif %}
    {% endif %}
  </form>
  {%  endblock %}
  </div>
