{% extends "base.html" %}
{% block title %} Participant Page {% endblock %}

{% block head %}
  {{ super() }}
  <script src="/static/javascript/admin.js" type="text/javascript"></script>
{% endblock %}

{%  block content %}
<div class="container well">
  <div class="title col-md-8" col-xs-12>
    <h1> Participant <b>{{ participant.patient_id }} </b></h1>
  </div>
  {# Go to Dashboard button  #}
  <div class="title col-md-4 col-xs-12">
    <a class="btn btn-info h2-margins-vertical"
      href={{ easy_url('data_page_endpoints.dashboard_participant_page', study_id=study.id, patient_id=participant.patient_id) }}>
      View <b>{{ participant.patient_id }}</b>'s Collected Data Dashboard
    </a>
  </div>
</div>

<ol class="breadcrumb">
  <li>
    <a href="/view_study/{{ study.id }}">{{ study.name }}</a>
  </li>
  <li class="active">
    Edit and View Attributes of Participant <b>{{ participant.patient_id }}</b>
  </li>
</ol>

<div class="container">

  <div class="col-md-6 col-sm-12 well">
    <h3 class="text-center"> <b>Activity Information </b></h3>
    <table class="table table-hover">
      
      <!-- Phone OS info -->
      <tr>
        <td><b>Phone operating system:</b></td>
        <td>
          {% if participant.os_type == "IOS" %} iOS {% elif participant.os_type == "ANDROID" %} Android {% else %} <i>Unknown?</i> {% endif %}
          {% if participant.last_os_version %}
            {{ participant.last_os_version }}
          {% endif %}
        </td>
      </tr>
      <tr>
        <td><b>Beiwe App Version:</b></td>
        <td>
          {% if participant.os_type == "IOS" %}
            {% if participant.last_version_code %}
              {{ participant.last_version_code }}
              {% if participant.last_version_name %}
                <span style="color: rgb(192, 192, 192);">({{ participant.last_version_name }})</span>
              {% endif %}
            {% endif %}
          {% elif participant.os_type == "ANDROID" %}
            {% if participant.last_version_name %}
              {{ participant.last_version_name }}
            {% endif %}
          {% endif %}
        </td>
      </tr>
      <tr>
        <td><b>Registration</b></td>
        <td>{{ really_nice_time_format_with_tz(participant.last_register_user, study_timezone) }}</td>
      </tr>
      <tr>
        <td><b>Last Heartbeat</b></td>
        <td>{{ really_nice_time_format_with_tz(participant_last_app_heartbeat, study_timezone) }}</td>
      </tr>
      <tr>
        <td><b>Last check-in for updated surveys</b></td>
        <td>{{ really_nice_time_format_with_tz(participant.last_get_latest_surveys, study_timezone) }}</td>
      </tr>
      <tr>
        <td><b>Last file upload event</b></td>
        <td>{{ really_nice_time_format_with_tz(participant.last_upload, study_timezone) }}</td>
      </tr>
  {% comment %}
  {# This is just going to confuse people until we change the way passwords work. #}
      <tr>
        <td><b>Last participant password reset</b></td>
        <td>{{ really_nice_time_format_with_tz(participant.last_set_password, study_timezone) }}</td>
      </tr>
  {% endcomment %}
      <tr>
        <td><b>Last notification credential update</b></td>
        <td>{{ really_nice_time_format_with_tz(participant.last_set_fcm_token, study_timezone) }}</td>
      </tr>
      <tr>
        <td><b>Last device settings update</b></td>
        <td>{{ really_nice_time_format_with_tz(participant.last_get_latest_device_settings, study_timezone) }}</td>
      </tr>
    </table>
  </div>

  <div class="col-md-6 col-sm-12 well">
    <h3 class="text-center"> <b>Survey Notifications </b></h3>
    <p class="text-center">
      Total notifications or attempts: <b>{{ notification_attempts_count }}</b>
      &nbsp;&nbsp;
      <a href="/view_study/{{ study.id }}/participant/{{ participant.patient_id }}/notification_history">Notification History</a>
    </p>
    {% if latest_notification_attempt %}
      <p>Most recent survey notification:</p>
      <table class="table table-hover" >
        <tr>
          <td>Scheduled for:</td>
          <td>{{ latest_notification_attempt.scheduled_time }}</td>
        </tr>
        <tr>
          <td>Sent or attempted on:</td>
          <td>{{ latest_notification_attempt.attempted_time }}</td>
        </tr>
        <tr>
          <td>Survey:</td>
          <td>
            <a href="{{ easy_url("survey_endpoints.render_edit_survey", study.id, latest_notification_attempt.survey_id) }}" target="_blank">
              {{ latest_notification_attempt.survey_name }}
            </a>
          </td>
        </tr>
        <tr>
          <td>Survey version:</td>
          <td>{{ latest_notification_attempt.survey_version }}</td>
        </tr>
        <tr>
          <td>Schedule type:</td>
          <td>{{ latest_notification_attempt.schedule_type }}</td>
        </tr>
        <tr {% if latest_notification_attempt.status == 'success' %} class="tableRowSuccess" {% else %} class="tableRowError" {% endif %}>
          <td>Status:</td>
          <td>{{ latest_notification_attempt.status }}</td>
        </tr>
      </table>
      
      <form action="{{ easy_url("participant_endpoints.resend_push_notification", study_id=study.id, patient_id=participant.patient_id) }}" method="post">
      {% if participant.participant_push_enabled %} 
        <input type="hidden" name="survey_id" value="{{ latest_notification_attempt.survey_id }}">
        <button class="btn btn-danger center-block" type="submit" {% if locked %} disabled {% endif %}>
          Resend Push Notification
        </button>
        {% endif %}
      </form>
    {% endif %}
  </div>

  {# easy enrollment #}
  <div class="col-md-12 well">
    <div class="col-md-5">
      <div class="h2-middle-margins-vertical text-center row">
        <form action="/toggle_easy_enrollment" method="post">
          <input type="hidden" name="patient_id" value="{{ participant.patient_id }}">
          <input type="hidden" name="study_id" value="{{ study.id }}" {% if locked %} disabled {% endif %}>
          <button type="submit" {% if locked %} disabled {% endif %}
          class="btn large-font-size {% if participant.easy_enrollment %}btn-warning{% else %}btn-success{% endif %}">
          {% if participant.easy_enrollment %}
            Disable Easy Enrollment
          {% else %}
            Enable Easy Enrollment
          {% endif %}
          </button>
        </form>
      </div>
    </div>
    {% if study.easy_enrollment %}
      <div class="col-md-7 h3-margins-vertical">
        <b>
          Easy enrollment is globally enabled for this study.  All participants in this study may enroll without a password.
        </b>
      </div>
    {% endif %}
    <div class="col-md-7 h3-margins-vertical">
      Easy enrollment may be enabled on a per-participant basis.
      <p>
      When easy enrollment is enabled for a study or a participant the Temporary Password that is otherwised required at registration is ignored.  Any value that passes any validation performed by the app is allowed.
    </div>
  </div>

  {# Reset Passwordd #}
  <div class="col-md-12 well">
    <div class="col-md-5">
      <div class="h2-middle-margins-vertical text-center row">
        <form action="/reset_participant_password" method="post">
          <input type="hidden" name="patient_id" value="{{ participant.patient_id }}">
          <input type="hidden" name="study_id" value="{{ study.id }}">
          <button type="submit" class="btn btn-warning large-font-size"
            {% if locked %} disabled {% endif %}>
            Generate New Registration Password
          </button>
        </form>
      </div>
    </div>
    <div class="col-md-7 h3-margins-vertical">
      At registration the participant enters their current password into the temporary password field,
      and then sets a new password that is used to unlock the app and access new surveys, etc.  The
      participant may change this password from their device at any time.  You cannot view the 
      participant's current password.
    </div>
  </div>

  {# Clear Device Token #}
  <div class="col-md-12 well">
    <div class="col-md-5">
      <div class="h2-middle-margins-vertical text-center row">
        <form action="{{ easy_url('participant_endpoints.clear_device_id') }}" method="post">
          <input type="hidden" name="patient_id" value="{{ participant.patient_id }}">
          <input type="hidden" name="study_id" value="{{ study.id }}">
          <button type="submit" class="btn btn-warning large-font-size"
            {% if not participant.device_id or locked %} disabled {% endif %}>
            Clear Device Token
          </button>
        </form>
        {% if not participant.device_id %}
          There is no device token present for this participant.
        {% endif %}
      </div>
    </div>
    <div class="col-md-7 h3-margins-vertical"> 
      Click this button if you need to mark a participant as Not Registered on the study's participant list.
      This is purely a bookkeeping operation, the underlying value will be repopulated if the device 
      contacts the server. If the device is out of the participant's control and still uploading data, you
      should retire this participant id and create a new one in order to ensure that data gathered by Beiwe remains clean.
    </div>
  </div>

  {# End Data Collection #}
  <div class="col-md-12 well">
    <div class="col-md-5">
      <div class="h2-middle-margins-vertical text-center row">
        <form action="{{ easy_url('participant_endpoints.retire_participant') }}" method="post">
          <input type="hidden" name="patient_id" value="{{ participant.patient_id }}">
          <input type="hidden" name="study_id" value="{{ study.id }}">
          <button type="submit" class="btn btn-danger large-font-size"
          onclick="return confirm('Are you sure you want to permanently end data collection from {{ participant.patient_id }}?')" 
            {% if participant.permanently_retired or locked %} disabled {% endif %}>
            Permanantly Retire Participant
          </button>
        </form>
        {% if participant.permanently_retired %}
          This participant is already retired.
        {% endif %}
      </div>
    </div>
    <div class="col-md-7 h3-margins-vertical">
      This action retires this participant entirely, blocking any further data from being uploaded,
      regardless of the source device.  This does not affect data already uploaded.  Attempts to
      register a new device with this participant will fail.  If data is uploaded for this participant
      the device will be told to delete that data.
      <br> <b>This operation is final and cannot be undone.</b>
    </div>
  </div>

  {# Queue for Data Purge/Deletion #}
  {% if can_delete  %}
    <div class="col-md-12 well">
      <div class="col-md-5">
        <div class="h2-middle-margins-vertical text-center row">
          <button type="submit" class="btn btn-danger large-font-size"
            onclick="confirm_delete_participant('{{ participant.patient_id }}', '{{ study.id }}')"
            {% if locked %} disabled {% endif %}>
            Permanantly Delete All Participant Data
          </button>

          {% if locked %}
            <br>This participant is already marked for deletion.
          {% endif %}
        </div>
      </div>
      <div class="col-md-7 h3-margins-vertical">
        This action deletes all data that this participant has ever uploaded, as well as all internal data related to this participant.  All further actions related to this participant will be blocked.  No data from this participant will be downloadable.  Once deletion has finished the participant will no longer be visible in the list of participants on the study page.  Data deletion may take quite some time.
        <br> <b>This operation is final and cannot be undone.</b>
      </div>
    </div>
  {% endif %}
  
  {% if ENABLE_EXPERIMENTS and site_admin %}
    <div class="col-md-12 well">
        <div class="col-md-5">
        <div class="h2-middle-margins-vertical text-center row">
            <form action="/view_study/{{ study.id }}/participant/{{ participant.patient_id }}/experiments" method="post">
            <input type="hidden" name="patient_id" value="{{ participant.patient_id }}">
            <input type="hidden" name="study_id" value="{{ study.id }}" {% if locked %} disabled {% endif %}>
            <button type="submit" class="btn large-font-size btn-success">
              View Participant Experiments
            </button>
            </form>
        </div>
        </div>
        <div class="col-md-7 h3-margins-vertical">
        Experiments can be enabled on a per-participant basis. Experiments are features that are in development and are not yet ready for general use. Experiments may be buggy, poorly named, abandoned but not deleted, abandoned and forgotten about, completely broken, too dumb to be of any conceivable use, etc. Some experiments may require custom builds of the Beiwe apps, or may be platform specific. If an experiment is in active development there should be an open issue on <a href="https://github.com/onnela-lab/beiwe-backend/issues/" target="_blank"> the Beiwe-Backend github page. </a>
        </div>
    </div>
  {% endif %}

  {% if study_interventions_exists %}
    <div class="col-md-6 col-sm-12 well">
      <form action="/view_study/{{ study.id }}/participant/{{ participant.patient_id }}" class="form-horizontal" method="POST">
      {% if push_notifications_enabled_for_ios or push_notifications_enabled_for_android %}
        <h3>Interventions</h3>
        {% for intervention_id, intervention_name, intervention_date in intervention_data %}
          <div class="form-group">
            <label class="control-label col-sm-2" for="intervention{{ intervention_id }}" > {{ intervention_name }}</label>
              <div class="col-sm-3">
              {% if intervention_date %}
                <input id="intervention{{ intervention_id }}" name="intervention{{ intervention_id }}"
                 class="form-control" type="date" value="{{ intervention_date }}" {% if locked %} disabled {% endif %}>
              {% else %}
                <input id="intervention{{ intervention_id }}" name="intervention{{ intervention_id }}"
                 class="form-control" type="date" {% if locked %} disabled {% endif %}>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  {% endif %}
    
  {% if study_fields_exists %}
    <div class="col-md-6 col-sm-12 well">
      <h3>Custom Fields</h3>
    
      {% for field_id, field_name, value in field_values %}
        <div class="form-group">
          <label class="col-sm-2 control-label" for="field{{ field_id }}">{{ field_name }}</label>
          <div class="col-sm-4">
            <input id="field{{ field_id }}" name="field{{ field_id }}" class="form-control" type="text"
                   value="{{ value }}" {% if locked %} disabled {% endif %}>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if not readonly %}
    {% if study_interventions_exists or study_fields_exists %}
      <button class="btn btn-primary btn-block" type="submit"
        {% if locked %} disabled {% endif %}>Save Changes</button>
    {% endif %}
  {% endif %}
  </form>
</div>

{% endblock %}
